#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10%;
    padding-top: 100px;
}

#heading {
    color: var(--color-2);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.subHeading {
    font-weight: 600;
    font-size: larger;
    color: var(--color-2);
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.text {
    text-align: justify;
}

@media (orientation: portrait) {
    #container {
        padding: 20px;
    }
}
