:root {
    --color-1: #112d4e;
    --color-2: #3f72af;
    --color-3: #dbe2ef;
    --color-4: #f9f7f7;

    --border: ; /* if any  */
    --box-shadow: ; /* if any  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

body {
    background-color: white;
    color: var(--color-1);
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) white;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 6px;
    border: 3px solid var(--color-4);
}
