:root {
    --color-1: #06283d;
    --color-2: #1363df;
    --color-3: #47b5ff;
    --color-4: #dff6ff;

    --border: ; /* if any  */
    --box-shadow: ; /* if any  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

body {
    background-color: var(--color-4);
    color: var(--color-1);
    overflow-x: hidden;
}
