#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: calc(100vh - 60px);
    padding: 10%;
}

#left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#heading {
    font-size: xx-large;
    font-weight: 600;
    color: var(--color-2);
}

#text {
    font-size: large;
}

@media (orientation: portrait) {
    #container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
