#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    position: relative;
    backdrop-filter: brightness(60%);
}

#heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-2);
    text-align: center;
}

#text {
    font-size: larger;
    width: 50%;
    text-align: center;
    color: var(--color-4);
}

@media (orientation: portrait) {
    #container {
        padding: 10px;
    }

    #text {
        width: 100%;
    }
}
