#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 60px);
    position: relative;
    backdrop-filter: brightness(30%);
}

#heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-2);
    text-align: center;
}

#text {
    font-size: larger;
    width: 50%;
    text-align: center;
    color: var(--color-4);
}

@media (orientation: portrait) {
    #text {
        width: 100%;
    }
}
